/* CSS MODULES */

.container {
    font-family: 'Creepster', cursive;
    font-size: 150%;
    margin: 15px 15px;
    display:flex;
    justify-content: flex-end;   
}

.home {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.about {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.favorites {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logOut {
    font-family: 'Creepster', cursive;
    border: none; /* Elimina el borde */
    background: none; /* Elimina el fondo */
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    cursor: pointer; /* Cambia el cursor al estilo de puntero para indicar que es clickeable */
}