/* CSS MODULES */

/* * {
  border: 1px solid red;
} */

body {
   font-family: 'Creepster', cursive;
   margin: 0;
}

body::-webkit-scrollbar {
   display: none; /* Para que la barra de scroll está oculta */
 }

.App {
   text-align: center;
   background-image:url('../src/Img/RandM1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 20%;
   background-attachment: fixed; /* Fija la imagen de fondo */
   min-height: 100vh; /* Permite que el fondo cubra toda la pantalla */
}
